html, body, #content {
    height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

p, h1, h2, h3 {
  margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

input {
  border: none;
}

*:focus {
    outline: none;
}

#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#page-left, #page-right {
  float: left;
  height: 100%;
}

#page-left {
  width: 70%;
  box-sizing: border-box;
  border-right: 1px solid #D5D8DC;
}

#page-right {
  width: 30%;
}

#game-area, #chat, #chat-stats, #login {
  padding: 20px;
}

#chat {
  overflow: auto;
  max-width: 100%;
  word-break: break-all;
}

#chat-box {
  width: 27%;
  height: 20px;
  padding: 20px;
  font-size: 1em;
  border-top: 1px solid #D5D8DC;
  position: absolute;
  bottom: 0;
}

#chat-stats {
  border-bottom: 1px solid #D5D8DC;
}

#username-box {
  font-size: 2em;
}

#login {
  padding-left: 15%;
  padding-top: 10%;
}

#login h1 {
  font-size: 3em;
  margin-bottom: 5px;
}

#login h2 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 1.5em;
}

.chat-name, #online-users {
  font-weight: bold;
}

.chat-message, .chat-update {
  margin-bottom: 10px;
}

.chat-update-text, .label, .online-user-sep {
  color: #808B96;
}

.chat-update {
  text-align: center;
}

.online-user-sep:last-child {
  display: none;
}

#game-area {
  padding: 20%;
}

.submittedAnswer {
  font-size: 3em;
}

.red {
  color: red;
}