@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
html, body, #content {
  height: 100%; }

body {
  margin: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  background-color: #ecf0f1;
  color: #2c3e50; }

p, h1, h2, h3 {
  margin: 0; }

input {
  border: none; }

*:focus {
  outline: none; }

.thin {
  font-weight: 100; }

#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

#page-left, #page-right {
  float: left;
  height: 100%; }

#page-left {
  width: 70%;
  box-sizing: border-box; }

#page-right {
  width: 30%;
  background-color: #112233; }

#game-area, #chat, #chat-stats, #login {
  padding: 20px; }

#chat {
  overflow: auto;
  max-width: 100%;
  word-break: break-all;
  padding-bottom: 0px; }

#chat-box {
  width: 27%;
  height: 20px;
  padding: 20px;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  background-color: white; }

#chat-stats {
  background-color: #10171e; }

#username-box {
  font-size: 2em; }

.chat-name, #online-users {
  font-weight: bold; }

.chat-message, .chat-update {
  color: #FFF;
  margin-bottom: 10px; }

.chat-update-text, .label, .online-user-sep, #chat-user-typing {
  color: #6f8197; }

.chat-update {
  text-align: center; }

.online-user-sep:last-child {
  display: none; }

#chat-user-typing {
  padding: 0px 15px 0px 15px;
  font-size: 0.7em;
  text-align: center; }

#login, #room {
  padding-left: 15%;
  padding-top: 10%; }

#login h1, #room h1 {
  font-size: 3em;
  margin-bottom: 5px; }

#login h2, #room h2 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 1.5em; }

#room-create-btn, #room-box, #room-join-btn {
  font-size: 1.5em;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  display: inline-block; }

#room-create-btn:hover {
  border-color: red;
  color: red; }

#room-create-btn, #room-join-btn {
  border: 1px solid black;
  border-radius: 10px; }

#room-box, #username-box {
  border-bottom: 1px solid black; }

#room-box {
  width: 140px; }

.thin {
  font-weight: 100; }

.or-sep {
  display: inline-block;
  padding-right: 10px; }

#room h1, #room h3 {
  margin-bottom: 20px; }

#room h1, #room h3 {
  margin-bottom: 20px; }

.or-sep {
  display: inline-block;
  padding-right: 10px; }

#game-area {
  padding: 12%; }

#game-board h1, .display-choice, #room-create-btn, #room-join-btn {
  cursor: pointer; }

#game-board h1 {
  text-align: center; }

#home-btn {
  position: fixed;
  top: 20px;
  left: 20px; }

#display-question .display-question-asker {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 10px; }

#display-question .display-question-text {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  text-align: center; }

#display-answers {
  padding: 10px;
  border-bottom: 1px solid #e3e3e3; }

#display-players, #display-popular, #display-scores {
  padding: 10px; }

.display-choice, .display-player {
  border-radius: 10px;
  font-size: 1.2em;
  padding: 12px;
  border: 1px solid;
  display: inline-block;
  margin: 10px;
  transition: 500ms ease-in-out all; }

.display-choice {
  border-color: #e3e3e3; }

.display-choice:hover {
  border-color: black; }

.display-player-name {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center; }

.display-player-score {
  font-weight: 100;
  font-size: 1.5em;
  text-align: center; }

.submittedAnswer {
  font-size: 0.7em;
  opacity: 0.5; }

#display-popular {
  text-align: center; }

#display-popular .display-popular-header {
  font-size: 1.6em; }

#display-popular .display-popular-top {
  font-size: 1.7em;
  font-weight: bold; }

#countdown-timer {
  font-size: 1.3em;
  color: #e3e3e3;
  text-align: center; }

#display-winner {
  text-align: center;
  font-size: 2em;
  padding-bottom: 10px; }
