// ---------------------------------------------------------------------------------------
// Base
// ---------------------------------------------------------------------------------------

$padding: 20px;

html, body, #content {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-stack;
  background-color: $bg-color;
  color: $primary-color;
}

p, h1, h2, h3 {
  margin: 0;
}

input {
  border: none;
}

*:focus {
  outline: none;
}

.thin {
  font-weight: 100;
}
