// ---------------------------------------------------------------------------------------
// Main Game
// ---------------------------------------------------------------------------------------

#game-area {
  padding: 12%;
}

#game-board h1, .display-choice, #room-create-btn, #room-join-btn, #username-confirm {
  cursor: pointer;
}

#game-board h1 {
  text-align: center;
}

#home-btn {
  position: fixed;
  top: 20px;
  left: 20px;
}

#display-question .display-question-asker {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 10px;
}

#display-question .display-question-text {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

#display-answers {
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
}

#display-players, #display-popular, #display-scores {
  padding: 10px;
}

.display-choice, .display-player {
  font-size: 1.2em;
  padding: 12px;
  display: inline-block;
  margin: 10px;
  transition: 500ms ease-in-out all;
}

.display-choice {
  background-color: white;
  color: $primary-color;
}

.display-choice:hover {
  border-color: black;
}

.display-player-name {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  color: $secondary-color
}

.display-player-score {
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
  color: $secondary-color
}

.submittedAnswer {
  font-size: 0.7em;
  opacity: 0.5;
}

#display-popular {
  text-align: center;
}

#display-popular .display-popular-header {
  font-size: 1.6em;
}

#display-popular .display-popular-top {
  font-size: 1.7em;
  font-weight: bold;
}

#countdown-timer {
  font-size: 1.3em;
  color: #e3e3e3;
  text-align: center;
}

#display-winner {
  text-align: center;
  font-size: 2em;
  padding-bottom: 10px;
}

.game-rule-title {
  font-size: 2em;
  text-align: center;
}

.game-rule-bullet {
  font-size: 1.25em;
  list-style: none;
  text-align: center;
}

.game-rule-bullet:last-child {
  padding-bottom: 10px;
}

.clear-fix {
  height: 10px;
  width: 100%;
}

.room-size, .game-length {
  width: 50%;
  display: inline-block;
}

.room-size-label, .game-length-label {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 0px;
  text-decoration: underline;
}

.room-size-btn, .game-length-btn {
  text-align: center;
  font-size: 3em;
  display: block;
  cursor: pointer;
  font-weight: bolder;
}

.room-size-btn:hover, .game-length-btn:hover {
  opacity: 0.8;
}

#invite-btn, #game-start-btn {
  text-align: center;
  padding: 10px;
  background-color: $primary-color;
  color: $secondary-color;
  margin: 0px 10% 5px 10%;
  cursor: pointer;
  transition: 300ms ease-in-out opacity;
}

#lobby-waiting-message {
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
}

#invite-btn {
  margin-top: 20px;
}

#game-start-btn {
  background-color: $success;
}

#invite-btn:hover, #game-start-btn:hover {
  opacity: 0.8;
}

.lockAnswer {
  background-color: $primary-color;
  color: $secondary-color;
}