// ---------------------------------------------------------------------------------------
// Registration
// ---------------------------------------------------------------------------------------

#login, #room {
  padding-left: 15%;
  padding-top: 10%;
}

#login h1, #room h1 {
  font-size: 3em;
  margin-bottom: 5px;
}

#login h2, #room h2 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 1.5em;
}

#room-info-bar {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 0.7em;
}

#room-create-btn, #room-box, #room-join-btn {
  font-size: 1.5em;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  display: inline-block; }

#room-create-btn:hover {
  border-color: red;
  color: red; }

#room-create-btn, #room-join-btn {
  border: 1px solid black;
  border-radius: 10px; }

#room-box, #username-box {
  border-bottom: 1px solid black; }

#room-box {
  width: 140px; }

.thin {
  font-weight: 100; }

.or-sep {
  display: inline-block;
  padding-right: 10px; }

#room h1, #room h3 {
  margin-bottom: 20px; }

#room h1, #room h3 {
  margin-bottom: 20px;
}

.or-sep {
  display: inline-block;
  padding-right: 10px;
}


