// ---------------------------------------------------------------------------------------
// Theme
// ---------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
$font-stack:    'Raleway', Helvetica, sans-serif;
$primary-color: #2c3e50;
$secondary-color: #ecf0f1;
$bg-color-main: #ecf0f1;

$bg-color-chat-body: #112233;
$bg-color-chat-top: #10171e;
$bg-color-chat-message: white;

$chat-text-update: #6f8197;
$chat-text-msg: #FFF;

$success: #27ae60;
$warning: #c0392b;