// ---------------------------------------------------------------------------------------
// Theme
// ---------------------------------------------------------------------------------------

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: orange;